body {
    background-color: #1a1a2e;
    font-family: Arial, sans-serif;
  }
  
  .weather-card {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    border-radius: 20px;
    width: 400px;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 64px;
  }
  
  .icon-size {
    font-size: 64px;
  }
  
  .weather-info p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .bi {
    font-size: 24px;
    color: #fff;
  }
  